<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<h1>Please choose the username for the new user</h1>

<div class="container-md text-center">
    <form class="form-signin" th:action="@{/addNewUser}" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Please enter hte username of the new User</h1>
        <div class="form-group" style="text-align: left">
            <label for="inputUsername">Username</label>
            <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required="">
        </div>
        <!--            <h6 th:if="${showError == 'true'}" style="color: crimson">Invalid password</h6>-->
        <br/>
        <button class="btn btn-lg btn-primary btn-block greenBtn" type="submit">Submit</button>
    </form>
</div>

</body>
</html>