<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> new week page</h1>
<form th:action="@{/newWeek}" method='POST'>
    <table>
        <tr>
            <td>Select Trainee:</td>
            <td>
                <select id="dropdown" name="groupId">
                    <option value="0"> -- </option>
                    <option th:each="group : ${allGroups}"
                            th:value="${group.groupId}"
                            th:text="${group.groupName}"/>
                </select>
            </td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>

</body>
</html>