<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="/css/myStyle.css"/>
    <link rel ="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>

<nav th:replace="~{fragments/sidebar}">Side Navigation</nav>
<nav th:replace="~{fragments/generalNavigation}">Side Navigation</nav>
<main>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Trainer Feedback Form</h1>

        </div>
    </div>

    <div class="container-sm">
        <form th:action="@{/trainerUpdateReport}" method="post">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Trainee Feedback</th>
                        <th>Trainer Feedback</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Stop</th>
                        <td><textarea readonly type="input" name="stopTrainee" rows="5" th:text="${trainerFeedback.stopTrainee}"></textarea></td>
                        <td><textarea type="input" name="stopTrainer" rows="5" th:text="${trainerFeedback.stopTrainer}"></textarea></td>

                        </th>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <th scope="row">Start</th>
                        <td> <textarea readonly type="input" name="startTrainee" rows="5" th:text="${trainerFeedback.startTrainee}"></textarea></td>
                        <td><textarea type="input" name="startTrainer" rows="5" th:text="${trainerFeedback.startTrainer}"></textarea></td>
                        </th>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <th scope="row">Continue</th>
                        <td> <textarea readonly type="input" name="continueTrainee" rows="5" th:text="${trainerFeedback.continueTrainee}"></textarea></td>
                        <td><textarea type="input" name="continueTrainer" rows="5" th:text="${trainerFeedback.continueTrainer}"></textarea></td>
                        </th>
                    <tr>
                        <th scope="row">Trainer Comments</th>
                        <td colspan="2"> <textarea cols="100" type="input" name="trainerComments" rows="5" th:text="${trainerFeedback.trainerComments}"></textarea></td>
                        </th>
                    </tr></tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <div class="col">
                <button type="submit" th:name="btnStatus" th:value="submit" class="btn btn-primary">Submit</button>
            </div>
            <input class="invisible-input" type="number" name="reportId" th:value="${trainerFeedback.reportId}"/>
        </form>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</main>

<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="webjars/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>

</body>
</html>