<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="/css/myStyle.css"/>
    <link rel ="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>

<nav th:replace="~{fragments/sidebar}">Side Navigation</nav>
<nav th:replace="~{fragments/generalNavigation}">Side Navigation</nav>
<main>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Consultancy Skills</h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCard1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard1">
                        <h6 class="m-0 font-weight-bold text-primary">Studious</h6>
                    </a>

                    <!-- Card Content - Collapse -->
                    <div class="collapse " id="collapseCard1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2" src="#">
                                    <a class="text-sm-center small text-center">Life Long Learner</a>
                                    <svg viewBox="0 0 16 16" class="bi bi-bezier2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01c.18.18.34.381.484.605.638.992.892 2.354.892 3.895 0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a2.839 2.839 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5v-1zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                                    </svg>
                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2">
                                    <a class="text-sm-center small text-center">Curious</a>
                                    <svg viewBox="0 0 16 16" class="bi bi-brightness-high" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                                    </svg>
                                </div>
                                <div class="col">
                                    You have the impulse to understand meaning behind information and experiences, you actively seek it out. You productively research areas you do not understand and ready knowledge for future use. Your curiosity allows you to think deeply about subject matters and generate creative solutions.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">
                                    <a class="text-sm-center small text-center">Cognitive Ability</a>
                                    <svg viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                    </svg>
                                </div>
                                <div class="col">
                                    You need to have the agility of mind to rapidly move from one area of development to another as the needs of your environment can change rapidly. Even though you are intent on developing yourself in one area, you must listen to the advice of more experienced parties and adhere to their advice.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">
                                    <a class="text-sm-center small text-center">Reflection</a>
                                    <svg viewBox="0 0 16 16" class="bi bi-shield-shaded" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
                                        <path d="M8 2.25c.909 0 3.188.685 4.254 1.022a.94.94 0 0 1 .656.773c.814 6.424-4.13 9.452-4.91 9.452V2.25z"/>
                                    </svg>
                                </div>
                                <div class="col">
                                    If we aspire to develop continually, we must undertake personal reflection as an important step to know what our strengths and weaknesses are. Unfortunately we can’t always see our own foibles which means we must seek out feedback and receive it graciously, no matter how difficult it may be. We cannot become defensive.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">
                                    <a class="text-sm-center small text-center">Iterative Growth</a>
                                    <svg viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                    </svg>
                                </div>
                                <div class="col">
                                    You plan your own learning objectives and understand how to build on your foundations. You understand how far you have to go and how long it takes to become and expert in any given field. We should regard our own development with the highest respect and take it seriously and as such you routinely work to better your mind, behaviours, abilities and skillsets.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCard2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard2">
                        <h6 class="m-0 font-weight-bold text-primary">Professional</h6>
                    </a>

                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseCard2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCard3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard3">
                        <h6 class="m-0 font-weight-bold text-primary">Independent</h6>
                    </a>

                    <!-- Card Content - Collapse -->
                    <div class="collapse " id="collapseCard3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCard4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard4">
                        <h6 class="m-0 font-weight-bold text-primary">Imaginative</h6>
                    </a>

                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseCard4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCard5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard5">
                        <h6 class="m-0 font-weight-bold text-primary">Determined</h6>
                    </a>

                    <!-- Card Content - Collapse -->
                    <div class="collapse " id="collapseCard5">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCard6" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard6">
                        <h6 class="m-0 font-weight-bold text-primary">Analytic</h6>
                    </a>

                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseCard6">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                            <span style="padding: 5px"></span>
                            <div class="row">
                                <div class="col-sm-2" src="#">

                                </div>
                                <div class="col">
                                    You will never give up in the pursuit of knowledge and self-growth. You
                                    understand that you can never know everything and yet yearn to continue this
                                    impossible quest If you feel like you're regularly on the edge of your comfort
                                    zone, you're doing something right. You are happy that you will never be 'the
                                    finished article'.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#exampleModal">
            See what these skills make
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">An Ideal Consultant</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a>
                            <img src="images/consultant.jpg" style="width: 100%">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="webjars/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>

</body>
</html>