<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>First Password</title>
</head>
<body>

    <h1>Please set up your first password!</h1>

    <div class="container-md text-center">
        <form class="form-signin" th:action="@{/addFirstPassword}" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please enter your new password</h1>
            <div class="form-group" style="text-align: left">
                <label for="inputPassword">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            </div>
<!--            <h6 th:if="${showError == 'true'}" style="color: crimson">Invalid password</h6>-->
            <br/>
            <button class="btn btn-lg btn-primary btn-block greenBtn" type="submit">Submit</button>
        </form>
    </div>

</body>
</html>